body {
  background-color: rgb(175, 175, 158);
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: antiquewhite;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.brand{
  margin-left: 5%;
}

.menu {
  width: 15%;
}

.menu ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-size: 18px;
}

.menu ul li {
  list-style: none;
  transition: background-color 0.3s ease-out;
}

.menu ul li:hover {
  background-color: #fff;
}

h1 {
  font-family: Verdana;
  font-size: 20px;
  width: 100%;
  color: brown;
  text-align: center;
  background-image: url(./rugby_field.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
}

p {
  font-size: 14px;
}

a {
  color: #000;
  text-decoration: none;
}

button {
  padding: 10px;
  border: solid 2px black;
  margin-top: 20px;
  border-radius: 15px;
}

footer {
  background-color: antiquewhite;
  height: 50px;
  margin-top: 20px;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}