<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Sua encomenda Chegou</h5>
            <small>1 days ago</small>
        </div>
        <p class="mb-1">Seu pedido número #123, acabou de chegar.</p>
        <small>recebido?</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Sua encomenda Chegou</h5>
            <small>1 days ago</small>
        </div>
        <p class="mb-1">Seu pedido número #12483, acabou de chegar.</p>
        <small>recebido?</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Sua encomenda Chegou</h5>
            <small>2 days ago</small>
        </div>
        <p class="mb-1">Seu pedido número #14984823, acabou de chegar.</p>
        <small>recebido?</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Sua encomenda Chegou</h5>
            <small>3 days ago</small>
        </div>
        <p class="mb-1">Seu pedido número #1229593, acabou de chegar.</p>
        <small>recebido?</small>
    </a>
</div>