<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#"><img src="../../../assets/angular.png" width="60px" alt=""> NotificationApp</a>
      <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul> -->
    </div>
  </div>
</nav>

<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active mb-2" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Sua encomenda Chegou</h5>
            <small>1 days ago</small>
        </div>
        <p class="mb-1">Seu pedido número #123, acabou de chegar.</p>
        <small>recebido?</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action mb-2" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Sua encomenda Chegou</h5>
            <small>1 days ago</small>
        </div>
        <p class="mb-1">Seu pedido número #12483, acabou de chegar.</p>
        <small>recebido?</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action mb-2" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Sua encomenda Chegou</h5>
            <small>2 days ago</small>
        </div>
        <p class="mb-1">Seu pedido número #14984823, acabou de chegar.</p>
        <small>recebido?</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action mb-2" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Sua encomenda Chegou</h5>
            <small>3 days ago</small>
        </div>
        <p class="mb-1">Seu pedido número #1229593, acabou de chegar.</p>
        <small>recebido?</small>
    </a>
</div>
