<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
    <input type="radio" class="btn-check" name="btnradio" id="1" autocomplete="off">
    <label class="btn btn-outline-secondary" for="1">Todos</label>

    <input type="radio" class="btn-check" name="btnradio" id="2" autocomplete="off">
    <label class="btn btn-outline-secondary" for="2">Lido</label>

    <input type="radio" class="btn-check" name="btnradio" id="3" autocomplete="off">
    <label class="btn btn-outline-secondary" for="3">Não lido</label>
</div>