<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="../../assets/Jon_Snow.webp" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Personagem: Jon Snow</h5>
                <h6 class="card-text">Ator: Kit Harington</h6>
                <p class="card-text">
                    Jon Snow, nascido Aegon Targaryen, é o filho de Rhaegar Targaryen e Lyanna Stark, o falecido
                    Príncipe de Pedra do Dragão. Jon foi criado como o filho bastardo do tio, Eddard Stark, em
                    Winterfell.</p>
            </div>
        </div>
    </div>
</div>