<!-- <app-navbar></app-navbar> ex 02-->
<!-- <app-card-list></app-card-list> ex03 -->
<!-- <app-modal></app-modal> ex04 -->
<!-- <app-modal>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error minima
    libero veniam, modi corrupti doloremque repellendus vitae mollitia. Ipsum
    voluptatibus ea ab quos molestiae at expedita maiores dolore a corrupti!
  </p>
</app-modal> ex 05 -->
<!-- <app-card-info>
  <h5 title>Titulo</h5>
  <h6 subtitle>Subtitle</h6>
  <p text>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero doloremque impedit quibusdam nobis sed consequatur commodi voluptatum, rerum nemo quisquam. Error vel magni fugit quis totam. Impedit adipisci soluta suscipit?</p>
</app-card-info> ex06 -->
<!-- <app-input-validation></app-input-validation> ex07 -->
